@import "../../../../css/init.scss";

.right_button {
  position: fixed;
  top: 64px;
  right: 0px;
  width: 321px;
}
.dx {
  position: fixed;
  top: 0px;
  left: 280px;
}
.person {
  .tabs {
    .ant-tabs-tab {
      width: 33%;
    }
  }
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~function class
.flex {
  display: flex;
}
.he100 {
  height: 100%;
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~variable
// 色调
$one:#0FFEA9;
$four:#0a8a5b;
$two:#10704E;
$three:#046632;
$fff: #ffffff;

//?------------------------------------------------------------------------------class
// common
.xteOvDh {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .menu .menu-info.x-zhdd-menu-info {
  overflow: visible !important;
}
// common
.x-zhdd-menu-info {
  .cbtn {
    position: relative;
    z-index: 1;
  }
  .right_button {
    background-color: #ffffff;
  }
  .x-person-equipment {
    .searchPrompt {
      // height: calc(95vh - 344px);
      // height: calc(95vh - 224px);
      height: calc(95vh - 264px);
      // height: calc(95vh - 304px);
      .ant-tabs {
        height: 100%;
      }
    }
    .btns-group {
      // position: relative;
      @keyframes comingCall {
        0% {
          color: rgba(0, 0, 0, 0.65);
          background-color: #fff;
          border-color: #d9d9d9;
        }
        100% {
          color: #ffffff;
          background-color: #40a9ff;
          border-color: #40a9ff;
        }
      }
      button {
        width: 28%;
        padding: 0;
        margin: 0 2.66% 8px;
        // border-color: $three;
        // color: $one;
        // background: $three;
        // transition: all 0.3s;
        // &:hover {
        //   color: $fff;
        //   font-weight: 500;
        //   background-color: $two;
        //   border-color: $two;
        // }
      }
      button.comingCall {
        animation: comingCall 0.8s linear infinite alternate;
        &:hover {
          animation-play-state:paused;
          -webkit-animation-play-state:paused;
          // color: #40a9ff;
          // background-color: #fff;
          // border-color: #40a9ff;
        }
      }
    }
    .alertGbBox {
      position: fixed;
      left: 386px;
      bottom: 294px;
      padding: 20px;
      width: 321px;
      border-radius: 8px;
      box-shadow: 0px 0px 6px #c3c2c2;
      background-color: #ffffff;
      .myUploadBox {
        margin-top: 16px;
      }
    }
    .alertDxBox {
      padding: 0;
      padding-top: 8px;
      display: flex;
      width: calc(100vw - 60px - 329px - 329px);
      right: 0;
      left: calc((60px + 329px));
      background-color: #ffffff;
      .leftBox {
        flex: 40%;
        border-right: 1px solid #e8e8e8;
        .searchDiv {
          margin: 0;
          text-align: center;
          .searchInput {
            width: 88%;
          }
        }
        .main-content {
          margin-top: 8px;
          padding: 8px;
          height: calc(100vh - 64px - 5vh - 20px - 32px - 8px - 20px - 290px);
          border-top: 1px solid #e8e8e8;
          overflow-x: hidden;
          overflow-y: auto;
          .list-item {
            .head {
              padding: 3px 0;
              color: #333333;
              &:hover {
                cursor: pointer;
                color: #000000;
                background-color: rgba(245,245,245,1);
              }
            }
            .head.active {
              cursor: pointer;
              background-color: #e8e8e8;
            }
            .content {
              max-height: 130px;
              margin: 0;
              overflow: scroll;
              padding: 6px;
              border: 1px solid #eeeeee;
              color: #333333;
              ul,
              li,
              ol {
                list-style: none;
              }
              .time,
              .con {
                margin: 0;
                padding: 0 0 4px 0;
                span,
                p {
                  margin: 0;
                  padding: 0;
                  word-break: break-all;
                }
              }
              .time {
                font-size: 13px;
              }
              .con {
                p {
                  letter-spacing: 1px;
                }
              }
            }
          }
        }
      }
      .rightBox {
        width: 60%;
        .head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 90%;
          margin: 0 auto;
          // border: 1px solid #e8e8e8;
          .headLeft {
            width: calc(100% - 18px);
          }
          .closeBtnBox {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .anticon {
              font-size: 18px;
            }
          }
        }
        .controlBtn {
          button {
            margin-left: 12px;
          }
        }
        .showContent {
          // height: 300px;
          // 从上到下依次减去
          height: calc(100vh - 64px - 5vh - 20px - 32px - 16px - 102px - 32px - 20px - 290px);
          margin-top: 8px;
          // margin-bottom: 8px;
          padding: 8px;
          border: 1px solid #e8e8e8;
          border-left: none;
          border-right: none;
          overflow: scroll;
          ul,
          li,
          ol {
            list-style: none;
          }
          ul {
            margin: 0;
            padding: 0;
            >li {
              &:last-child {
                border-bottom: none;
              }
              .infoDiv {
                overflow: hidden;
                .timer {
                  text-align: center;
                  color: #ffffff;
                }
                
              }
              .infoDiv_left {
                .user {
                  float: left;
                }
              }
              .infoDiv_right {
                .user {
                  float: right;
                }
              }
              .arrow-left {
                float: left;
                border-left: 20px solid #fff;
                border-top: 20px solid #cf9;
                margin-top: 20px;
                text-align: left;
              }
              .arrow-right {
                float: right;
                border-right: 20px solid #fff;
                border-top: 20px solid #cde9f5;
                margin-top: 20px;
                text-align: right;
            }
              .bubble-box-left, 
              .bubble-box-right {
                // width: 300px;
                max-width: 300px;
                margin-bottom: 20px;
              }
              .arrow-left .wrap, 
              .arrow-right .wrap {
                // width: 280px;
                max-width: 300px;
                padding: 12px 10px 12px 10px;
                margin-top: -30px;
                word-break: break-all;
                text-align: left;
              }
              .bubble-box-left .wrap {
                background: #cf9;
              }
              .bubble-box-right .wrap {
                background: #cde9f5;
            }
            }
          }
        }
        .insertContent {
          margin-bottom: 8px;
          textarea {
            resize: none;
          }
        }
        // .controlBtn {}
      }
    }
    >.ant-spin-nested-loading {
      > div > .ant-spin {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .ant-tree-switcher-noop {
    display: none !important;
  }
  .ant-tree.ant-tree-show-line li:not(:last-child)::before {
    display: none;
  }

  .rightContent {
    width: 100%;
    border: 1px solid #e8e8e8;
    >.ant-tabs {
      height: 38%;
      border-bottom: 1px solid #e8e8e8;
      .ant-tabs-content {
        height: calc(100% - 60px);
        .ant-tabs-tabpane {
          height: 100%;
          padding: 0 10px 10px 10px;
        }
      }
    }
    .tabs {
      .ant-tabs-tab {
        width: 25%;
      }
    }
    .sjxq-box {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      .sjxq-list-item {
        margin-bottom: 6px;
        &:last-child {
          margin-bottom: 0;
        }
        .item-content {
          line-height: 20px;
        }
      }
    }
    .ppya-box {
      overflow: hidden;
      height: 100%;
      
      .ppya-list-title {
        padding-bottom: 15px;
        font-size: 16px;
      }
      .ant-radio-group {
        width: 100%;
        height: calc(100% - 39px - 36px);
        overflow-x: hidden;
        overflow-y: auto;
        >label {
          display: block;
          height: initial !important;
          line-height: 22px !important;
          overflow: hidden;
          margin-right: 0;
          margin-bottom: 10px;
          >span {
            &:nth-child(2) {
              float: right;
              display: block;
              width: calc(100% - 22px);
              // color: #ffffff;
            }
          }
        }
      }
      .tab-content-common-btn {
        height: 30px;
        line-height: 30px;
        width: 70px;
        border-radius: 6px;
        color: #ffffff;
        background-color: #229e66;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
        float: right;
      }
    }
  }
  .rightContentMiddle {
      height: calc(100% - 38% - 40px);
      // padding: 0 10px;
  }
  .select-list-box {
      height: 100%;
      .select-title {
        padding: 15px 0 5px 4px;
        margin-bottom: 0;
        font-size: 14px;
        color: #333333;
      }
      .select-list {
        height: calc(100% - 41px);
        overflow: hidden;
        .ant-table-wrapper {
          height: 100%;
        }
        .ant-spin-nested-loading {
          height: 100%;
        }
        .ant-spin-container {
          height: 100%;
          .ant-table {
            height: 100%;
            .ant-table-content {
              height: 100%;
              .ant-table-placeholder {
                height: calc(100% - 60px);
              }
            }
          }
        }
      }
  }
  .time-shaft-box {
      height: 100%;
      padding: 0 10px;
      .time-title {
        margin-bottom: 5px;
        padding: 15px 0 5px 4px;
        font-weight: 700;
        font-size: 16px;
        color: #0ffea9;
      }
      .time-shaft-title {
        display: inline-block;
        padding: 4px 8px;
        font-size: 13px;
        line-height: 1;
        border-radius: 8px;
        color: #ffffff;
        background-color: #2ca678;
      }
      .time-shaft-list {
        height: calc(100% - 44px);
        overflow: scroll;
        padding-top: 9px;
      }
      .conBox {
        padding: 6px 8px;
        border: 1px solid #2ca678;
        border-radius: 6px;
        color: #ffffff;
        .head {
          color: #0ffea9;
        }
        .content {
          text-indent: 1em;
          line-break: anywhere;
        }
      }
  }
  .btn-group {
    // position: absolute;
    // bottom: 1px;
    width: 100%;
    height: 40px;
    // border-top: 1px solid #e8e8e8;
    text-align: initial;
    p {
      margin-bottom: 0;
    }
    .close-event-box {
      position: absolute;
      z-index: 9;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 150px;
      background-image: url(../img/closeEventBtnBoxBgc.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      p {
        margin-top: 29px;
        margin-bottom: 39px;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        color: #FFFFFF;
      }
      .btn-group {
        position: relative !important;
        display: flex !important;
        justify-content: space-around !important;
      }
      .current-btn,
      .cancel-btn {
        width: 100px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-image: url(../img/closeEventBtnBgc.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
  // ~这个盒子公共组件，请留意
  .middle-bottom-box {
    position: fixed;
    bottom: 0;
    // left: 371px;
    left: 381px;
    height: 290px;
    width: calc(100% - 702px);
    border-top: 1px solid #e8e8e8;
    // background-color: rgba(26,160,148,0.06);
    background-color: #d4ece3;
    .groups-box {
      height: 100%;
      .ant-tabs {
        height: 100%;
      }
      .ant-tabs-bar {
        margin-bottom: 0;
        .ant-tabs-nav-container {
          >span {
            .anction {
              font-size: 20px;
              color: #1aa094;
            }
          }
        }
      }
      .ant-tabs-content {
        height: calc(100% - 44px);
        .swiper-container {
          height: 100%;
          padding: 16px;
          box-sizing: border-box;
          .swiper-slide {
            border: 1px solid #057d7a;
            background: url(../img/group-item-bgc.png) no-repeat center center;
            background-color: rgba(26, 160, 148,1);
            background-position-y: calc((100% - 33px) / 2);
            >div {
              display: flex;
              height: 100%;
              align-items: flex-end;
              .name {
                background-color: aliceblue;
                width: 100%;
                text-align: center;
                padding: 6px 0;
              }
            }
          }
        }
      }
      .ant-tabs-tab {
        width: auto;
      }
      .swiperBox {
        position: relative;
        .callStatus {
          position: absolute;
          right: 8px;
          top: 8px;
          font-size: 14px;
          color: #ffffff;
        }
      }
      .swiperActive {
        .name {
          color: #ffffff;
          background-color: rgba(0,71,76,1) !important;
        }
      }
      .notSwiperActive {
        .name {
          color: rgba(0, 0, 0, 0.65);
          background-color: aliceblue;
        }
      }
    }
  }
  #telSudoku {
    position: absolute;
    padding: 8px;
    bottom: 0;
    width: 100%;
    background-color: #1E6564;
    .head-close {
      text-align: right;
      .anticon-close-circle {
        cursor: pointer;
        margin: 8px;
        margin-left: 0;
        margin-top: 0;
        color: #ffffff;
      }
    }
    .inputBox {
      display: flex;
      .clearInputConBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 32px;
        height: 100%;
        font-size: 18px;
        cursor: pointer;
        color: #333333;
        .closeButton {
          position: relative;
          z-index: 1;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          background-color: #ffffff;
          &::before {
            content: "";
            position: absolute;
            top: 4px;
            left: -12px;
            display: block;
            // height: 100%;
            width: 22.6px;
            height: 22.6px;
            transform: rotate(45deg);
            background-color: #ffffff;
          }
        }
      }
    }
    .grid {
      margin: 0;
      padding: 0;
      margin-top: 8px;
      margin-bottom: 8px;
      display: flex;
      flex-wrap: wrap;
      // background-color: #6D9F25;
      li {
        list-style: none;
        width: 33.33%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 18px;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          background-color: #308584;
        }
      }
    }
    .btn-control {
      display: flex;
      justify-content: center;
      button {
        border-color: #057d7a;
        color: #ffffff;
        background: #057d7a;
        &:hover {
          border-color: #239f9c;
          color: #ffffff;
          background-color: #239f9c;
        }
        &:last-child {
          margin-left: 8px !important;
        }
      }
    }
  }
}
.container .menu .menu-info .x-person-equipment {
  // .title {
  //   color: #ffffff;
  //   border-color: $three;
  // }
  .searchPrompt {
    .tabs-content {
      >div{
        >div {
          width: 100%;
        }
      }
    }
    .searchDiv {
      margin-bottom: 16px;
    }
    .ant-tree {
      height: calc(100% - 48px);
      overflow-y: auto;
      overflow-x: hidden;
      border-top: 1px solid #e8e8e8;
      .personStatus.callRed {
        color: red;
      }
      .personStatus.onlineBlue {
        color: blue;
      }
      .personStatus.offLineGray {
        color: gray;
      }
      >[role="treeitem"] {
        >.ant-tree-checkbox {
          position: absolute;
          left: 120px;
        }
      }
    }
    .zzjg {
      .ant-tree {
        >[role="treeitem"] {
          >.ant-tree-checkbox {
            position: absolute;
            left: 246px;
          }
        }
      }
    }
    .yjdw {
      .ant-tree {
        >[role="treeitem"] {
          >.ant-tree-checkbox {
            position: absolute;
            left: 170px;
          }
        }
      }
    }
  }
}
// jixi
.container .menu .x-zhdd-menu-info.jixi {
  width: 300px;
  height: 810px !important;
  top: 23px;
  margin-left: 0;
  background-color: transparent;
  border: none;
  margin-left: 5px;
  .x-person-equipment {
    .searchPrompt {
      .personStatus.onlineBlue {
        color: #ffffff;
      }
    }
  }
  .middle-bottom-box {
    left: 305px;
    width: calc(100% - 664px);
    .groups-box {
      .ant-tabs-nav-scroll {
        .ant-tabs-nav {
          >div {
            background-color: #08160c;
          }
          .ant-tabs-ink-bar {
            background-color: $one;
          }
        }
      }
      .ant-tabs-tab {
        color: #f4f4f4;
      }
      .ant-tabs-tab-active,
      .ant-tabs-nav .ant-tabs-tab:hover {
        color: $one;
      }
      .swiper-button-prev,
      .swiper-button-next {
        opacity: 0.6;
        color: $fff;
      }
    }
  }

}
.x-zhdd-menu-info.jixi {
  .cbtn {
    position: absolute;
    width: 14px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 !important;
    height: 58px;
    line-height: 58px;
    text-align: center;
    background: #68feae;
    box-shadow: 0px 0px 10px 0px #3ead74;
    border-radius: 7px;
    .close-cbtn {
      display: inline-block;
      transform: rotate(138deg);
      margin-right: -7px;
      width: 12px;
      height: 12px;
      border-color: #fff;
      border-style: solid;
      border-width: 0 2px 2px 0;
    }
  }
  .x-person-equipment {
    height: 100%;
    background-image: url(../img/searchBg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    >.title {
      color: #ffffff;
    }
    .alertDxBox {
      width: calc(100vw - 60px - 329px - 329px - 60px);
      left: 360px;
      background-image: url(../img/tableBG.png);
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      .headLeft {
        >span {
          color: #ffffff;
        }
      }
      .rightBox {
        .head {
          .closeBtnBox {
            .anticon {
              color: #ffffff;
            }
          }
        }
        .showContent {
          ul {
            >li {
              .infoDiv_right,
              .infoDiv_left{ 
                .user {
                  color: #ffffff;
                }
              }
              .arrow-left {
                border-left-color: #08160c;
              }
              .arrow-right {
                border-right-color: #08160c;
              }
            }
          }
        }
      }
      .leftBox {
        .main-content {
          .list-item {
            .head {
              color: #ffffff;
              &:hover {
                color: #0ffea9;
                background-color:rgba(255,255,255,0.19);
              }
            }
            .content {
              border-color: #e8e8e8;
              color: #f4f4f4;
            }
          }
        }
      }
      .controlBtn {
        button {
          width: 100px;
          border-color: $three;
          color: $one;
          background: $three;
          transition: all 0.3s;
          &:hover {
            color: $fff;
            font-weight: 500;
            background-color: $two;
            border-color: $two;
          }
        }
      }
    }
    .ant-spin-nested-loading {
      .ant-spin-container {
        .title {
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: none;
          color: #ffffff;
        }
      }
    }
    .ant-spin-nested-loading {
      height: 100%;
      .ant-spin-container {
        height: 100%;
      }
    }
    .searchPrompt {
      // height: calc(100% - 5vh - 160px);
      height: calc(100% - 5vh - 240px);
      .ant-tabs {
        .ant-tabs-content {
          height: calc(100% - 61px);
        }
      }
      .ant-tabs-nav-scroll {
        .ant-tabs-nav {
          >div:first-child {
            border-top: 1px solid #e8e8e8;
          }
        }
      }
      .ant-tabs-nav {
        .ant-tabs-tab {
          color: #ffffff;
        }
        .ant-tabs-tab-active {
          color: $one;
        }
      }
      .ant-collapse-content {
        border-color: $three;
      }
      .checklist {
        border-color: $three;
        &:last-child {
          border-bottom: none;
        }
      }
      .ant-tree {
        color: #ffffff;
        li {
          .ant-tree-node-content-wrapper {
            color: #ffffff;
            &:hover {
              background-color: transparent;
            }
          }
        }
        .ant-tree-node-content-wrapper.ant-tree-node-selected {
          background-color: transparent;
        }
        .ant-tree-checkbox-inner {
          background-color: #f4f4f4;
          border-color: $one;
        }
        .ant-tree-checkbox-wrapper:hover .ant-tree-checkbox-inner, 
        .ant-tree-checkbox:hover .ant-tree-checkbox-inner, 
        .ant-tree-checkbox-input:focus + .ant-tree-checkbox-inner {
          border-color: $one;
        }
      }
      .ant-tree.ant-tree-show-line {
        li {
          span.ant-tree-switcher {
            color: $one;
            background: transparent;
          }
        }
      }
    }
    .right_button {
      right: 60px;
      top: 23px;
      width: 300px;
    }
    .rightContent {
      border: none;
      overflow: hidden;
      background-image: url(../img/searchBg.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center;
      .ant-tabs {
        color: #ffffff;
        .ant-tabs-tab {
          color: #ffffff;
        }
      }
      .select-list-box {
        padding: 0 3px;
        .select-title {
          color: #ffffff;
        }
        .ant-table-thead > tr > th {
          background: #103925 !important;
        }
        .ant-table-header {
          background-color: #103925;
      }
      }
      .time-shaft-box {
        color: #ffffff;
      }
      .ppya-box {
        .ant-radio-group {
          >label {
            >span {
              &:nth-child(2) {
                color: #ffffff;
              }
            }
          }
        }
        .ppya-list-btn.disabled {
          color: #bfbfbf !important;
          background-color: grey !important;
        }
      }
      .xycs-box {
        height: 100%;
        overflow-y: auto;
        .xycsItem {
          margin-bottom: 12px;
          .xycs-title {
            color: #ffffff;
            font-size: 16px;
            padding: 6px 0;
            margin: 0;
          }
          .cont {
            height: 86px;
            padding: 6px 8px;
            border: 1px solid #177e56;
            overflow-y: auto;
            border-radius: 6px;
            p {
              line-height: 20px;
              text-indent: 1em;
            }
          }
        }
      }
    }
    .btn-group {
      position: absolute;
      bottom: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        border-color: $three;
        color: $one;
        background: $three;
        transition: all 0.3s;
        &:hover {
          color: $fff;
          font-weight: 500;
          background-color: $two;
          border-color: $two;
        }
      }
    }
    .btns-group {
      button {
        border-color: $three;
        color: $one;
        background: $three;
        transition: all 0.3s;
        &:hover {
          color: $fff;
          font-weight: 500;
          background-color: $two;
          border-color: $two;
        }
      }
    }
    .alertGbBox {
      @extend .btns-group;
      .ant-radio-wrapper {
        >span:nth-child(2){
          color: #ffffff;
        }
      }
      background-color: #08160c;
    }
  }
  .ant-tree-checkbox-checked  {
    .ant-tree-checkbox-inner::after {
      border-color: $one;
    }
  }
  #telSudoku {
    background-color: #075130;
    .grid {
      li {
        color: #0ffea9;
        &:hover {
          color: #ffffff;
          background-color: #10704e;
        }
      }
    }
    .btn-control {
      button {
        border-color: #046632;
        color: #0ffea9;
        background: #046632;
        &:hover {
          border-color: #10704e;
          color: #ffffff;
          background-color: #10704e;
        }
        &:last-child {
          margin-left: 8px !important;
        }
      }
    }
    
  }
}
.AlertVueInfo {
    .ant-table-thead > tr > th {
    background: #014728 !important;
  }
  .table-title {
    color: #ffffff;
  }
  .ant-table-body {
    color: #ffffff;
    background-color: #014728 !important;
  }
  .ant-modal-close-x {
    color: #ffffff;
  }
  .ant-modal-header {
    background: rgb(1, 71, 40);
    .ant-modal-title {
      color: #ffffff;
    }
  }
  .ant-modal-body {
    height: auto !important;
    background-color: #014728;
    .ant-tabs-nav .ant-tabs-tab {
      color: #ffffff;
    }
    .ant-tabs-nav .ant-tabs-tab-active {
      color: #52e0a0;
    }
    .ant-tabs-nav .ant-tabs-tab:hover {
      color: #52e0a0;
    }
    .ant-tabs-ink-bar {
      background-color: #52e0a0;
    }
  }
}

.home.zhddHome {
  .centerVideoConFather {
    float: right;
    transform: translate(0px,0px);
    height: calc(100vh - 64px);
    width: calc(100% - 702px);
    margin-right: 321px;
    .centerVideoCon {
      width: 100% !important;
      right: 0 !important;
      bottom: 0 !important;
    }
  }
  .container {
    .menu {
      .closeBtn {
        display: none;
      }
    }
  }
}
