.history {
    display: flex;
    flex-direction: row;
    margin-left: 10px;

    .history_title {
        width: 20%;
        min-width: 60px;
        line-height: 32px;
    }

    .history_list {
        max-height: 70px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        line-height: 22px;
        overflow-x: scroll;
        overflow: hidden;

        .history_list_div {
            margin: 5px 5px 5px;
            padding: 0 5px 0 5px;
            color: #057d7a;
            border: 1px solid #e8e8e8;
            border-radius: 12px;
            cursor: pointer;
        }
    }
}