.areaInfo{
    .searchPrompt .tabs .tabs-title > div:first-child{
        border-right: 0px ;
        border-bottom: 1px solid #d9d9d9;
    }
    .searchPrompt .tabs .tabs-title> div{
        width:100%;
    }
}
