.broadcastItem {
  line-height: 25px;
  overflow: hidden;
  padding: 9px 5px 9px 26px;
  border-bottom: 1px solid #d9d9d9;
  .broadcastIcon {
    display: none;
    float: left;
    margin-left: -20px;
    padding-top: 2px;
    img {
      width: 13px;
      height: 13px;
      background-repeat: no-repeat;
      background-position-y: center;
    }
  }
  .broadcastNo {
    float: left;
    margin-right: 10px;
    margin-left: -20px;
  }
  .broadcastName {
    .broadcastWz {
      color: #999999;
      padding-left: 25px;
      padding-right: 15px;
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: center;
    }
    .sxt1 {
      background-image: url(../img/sxt1.png);
    }
    .sxt0 {
      background-image: url(../img/sxt0.png);
    }

  }
  .broadcastOperation {
    display: none;
    div {
      float: left;
      //width: 45px;
      background-repeat: no-repeat;
      padding-left: 20px;
      background-position-y: center;
      cursor: pointer;
    }
    div:not(:first-child) {
      margin-left: 20px;
    }
    .jiankong {
      background-image: url(../img/jiankong.png);
    }
    .huifang {
      background-image: url(../img/huifang.png);
    }
    .jieping {
      background-image: url(../img/jieping.png);
    }
    .luxiang {
      background-image: url(../img/luxiang.png);
    }
    .quanping {
      background-image: url(../img/quanping.png);
    }
    .hujiao {
      background-image: url(../img/hujiao.png);
    }
    .yinpin {
      background-image: url(../img/yinpin.png);
    }
    .quyuhanhua {
      background-image: url(../img/hanhua.png);
    }
    .quyubofang {
      background-image: url(../img/yinpin.png);
    }
  }
}

.broadcastItem:hover {
  background-color: #f7f7f7;
  .broadcastOperation {
    display: block;
  }
}

.searchInfo {
  .broadcastItem {
    .broadcastIcon {
      display: block;
    }
    .broadcastNo {
      margin-left: 0;
    }
  }
}

.ant-modal {
  margin: 0 60px;
}

.ant-modal-body {
  height: 220px;
  overflow: auto;
}