.person{
    .offlineImg {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(1);
    }

    .base_search {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        // button {
        //     margin-left: 16px;
        // }
    }
    .ant-tabs-tab{
        width:33%;
        margin-right:0px;
        text-align: center;
    }
    .personList{
        
    }
}
.equipment{
    .ant-tabs-tab{
        width:50%;
    } 
}
.tabs-all{
    text-align: center;
    font-size: 20px;
    color: #057d7a;
}
.checklist{
    line-height: 28px;
    overflow: hidden;
    padding: 9px 5px 9px 26px;
    border-bottom: 1px solid #d9d9d9;
}
.ant-collapse-content-box {
    background-color: #F0FFFF;
}

.ant-tree-treenode-switcher-close, ant-tree-treenode-switcher-open {
    -webkit-user-drag: element;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap{
    width: 100%;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list{
    width: 100%;
}
.ant-tabs-tab{
    display: block;
}
.ant-tabs-tab-active{
    color: #057d7a;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: #057d7a;
}
.drag {
    -webkit-user-drag: element;
}